<div id="vue-app"></div>

<script type="text/x-template" id="root-template">
  <h1>Progressive Vue.js</h1>
  <section>
    <h2>About</h2>
    <p>
      The following is a demo on progressive use of Vue.js.  Its purpose is to
      illustrate how Vue.js can be adopted incrementally and applied to a
      monolothic Rails applicatuon.
    </p>
  </section>

  <%= render "inline_examples" %>
</script>
